/.vs/
/Build/
/Intermediate/
/Saved/
/WindowsNoEditor/
*.sln
/DerivedDataCache/
/UWP64/
/.clang/
/.codelite/
/LinuxNoEditor/
/UEOpenCVPlayerPlugin.workspace
/UEOpenCVPlayerPluginCodeCompletionFolders.txt
/UEOpenCVPlayerPluginCodeLitePreProcessor.txt
/.idea/
/.kdev4/
/.vscode/
/UEOpenCVPlayerPlugin.xcworkspace/
/MacNoEditor/
