/UE4Editor-UEOpenCVPlayerPlugin.dll
/UE4Editor-UEOpenCVPlayerPlugin.pdb
/UE4Editor.modules
/UEOpenCVPlayerPlugin.exe
/UEOpenCVPlayerPlugin.exp
/UEOpenCVPlayerPlugin.lib
/UEOpenCVPlayerPlugin.pdb
/UEOpenCVPlayerPlugin.target
/UEOpenCVPlayerPlugin.version
/UEOpenCVPlayerPluginEditor.target
